<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>simpleServlet</servlet-name>
        <servlet-class>presentation.SimpleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>simpleServlet</servlet-name>
        <url-pattern>/simple</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>listServlet</servlet-name>
        <servlet-class>presentation.ListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editServlet</servlet-name>
        <servlet-class>presentation.EditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listServlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
</web-app>

